@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
    /* From Uiverse.io by MikeAndrewDesigner */ 
    .wobbly {
        --s: 60px;
        
        /* Mode Clair par défaut */
        --c1: #f4f2f7;
        --c2: #7c65ff;
        
        --_g: radial-gradient(25% 25% at 25% 25%, var(--c1) 99%, rgba(0, 0, 0, 0) 101%);
        background: 
            var(--_g) var(--s) var(--s) / calc(2 * var(--s)) calc(2 * var(--s)),
            var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
            radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s) var(--s),
            repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%) calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
    }

    /* Version Mode Sombre (Uiverse d'origine) */
    .dark .wobbly {
        --c1: #180a22;
        --c2: #5b42f3;
    }

    .green-wobbly {
        width: 100%;
        height: 100%;
        --s: 60px;
        --c1: #6ca700;
        --c2: #406102;
        --_g: radial-gradient(
            25% 25% at 25% 25%,
            var(--c1) 99%,
            rgba(0, 0, 0, 0) 101%
        );
        background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
            calc(2 * var(--s)),
            var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
            radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
            var(--s),
            repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
            calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
    }

}

@theme {
    --font-fugaz: "Fugaz One", Arial;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-work: "Work Sans", monospace, system-ui;



    --color-special-white-1: #E4E4E4;
    --color-special-white-2: #F2F2F2;
    --color-special-white-3: #FFFFFF;

    --color-special-black-1: #000000;
    --color-special-black-2: #1F1F1F;
    --color-special-black-3: #3A3A3A;

    /* Light theme */
    --color-classic-white-1: oklch(.92 0 264);
    --color-classic-white-2: oklch(.96 0 264);
    --color-classic-white-3: oklch(1 0 264);

    --color-classic-black-text: oklch(.15 0 264);
    --color-classic-black-text-muted: oklch(.4 0 264);

    /* Dark theme */
    --color-classic-black-1: oklch(.1 0 264);
    --color-classic-black-2: oklch(.2 0 264);
    --color-classic-black-3: oklch(.3 0 264);

    --color-classic-white-text: oklch(.96 0 264);
    --color-classic-white-text-muted: oklch(.76 0 264);

    /* Shadows */
    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;

    --shadow-lo-s: inset 0 1px 2px #ffffff30;
    --shadow-lo-m: inset 0 1px 2px #ffffff50;
    --shadow-lo-l: inset 0 1px 2px #ffffff70;

    --shadow-button: inset 0 1px 2px #ffffff70, 0 0 0 5px #3b83f65f;


    --color-amber-gold-50: #fff8e5;
    --color-amber-gold-100: #fff1cc;
    --color-amber-gold-200: #ffe499;
    --color-amber-gold-300: #ffd666;
    --color-amber-gold-400: #ffc933;
    --color-amber-gold-500: #ffbb00;
    --color-amber-gold-600: #cc9600;
    --color-amber-gold-700: #997000;
    --color-amber-gold-800: #664b00;
    --color-amber-gold-900: #332500;
    --color-amber-gold-950: #241a00;

    --color-blaze-orange-50: #ffeee6;
    --color-blaze-orange-100: #fedccd;
    --color-blaze-orange-200: #fdba9b;
    --color-blaze-orange-300: #fd9768;
    --color-blaze-orange-400: #fc7536;
    --color-blaze-orange-500: #fb5204;
    --color-blaze-orange-600: #c94203;
    --color-blaze-orange-700: #973102;
    --color-blaze-orange-800: #642102;
    --color-blaze-orange-900: #321001;
    --color-blaze-orange-950: #230c01;

    --color-neon-pink-50: #ffe5f1;
    --color-neon-pink-100: #ffcce2;
    --color-neon-pink-200: #ff99c5;
    --color-neon-pink-300: #ff66a8;
    --color-neon-pink-400: #ff338b;
    --color-neon-pink-500: #ff006e;
    --color-neon-pink-600: #cc0058;
    --color-neon-pink-700: #990042;
    --color-neon-pink-800: #66002c;
    --color-neon-pink-900: #330016;
    --color-neon-pink-950: #24000f;

    --color-blue-violet-50: #f0e8fd;
    --color-blue-violet-100: #e2d0fb;
    --color-blue-violet-200: #c5a2f6;
    --color-blue-violet-300: #a873f2;
    --color-blue-violet-400: #8b44ee;
    --color-blue-violet-500: #6e16e9;
    --color-blue-violet-600: #5811bb;
    --color-blue-violet-700: #420d8c;
    --color-blue-violet-800: #2c095d;
    --color-blue-violet-900: #16042f;
    --color-blue-violet-950: #0f0321;

    --color-azure-blue-50: #e5efff;
    --color-azure-blue-100: #cce0ff;
    --color-azure-blue-200: #99c0ff;
    --color-azure-blue-300: #66a1ff;
    --color-azure-blue-400: #3381ff;
    --color-azure-blue-500: #0062ff;
    --color-azure-blue-600: #004ecc;
    --color-azure-blue-700: #003b99;
    --color-azure-blue-800: #002766;
    --color-azure-blue-900: #001433;
    --color-azure-blue-950: #000e24;
}